.body-color {
    background-color: pink;
}

.header-color {
    background-color: aquamarine;
}

.aside-color {
    background-color: lightsteelblue;
}

.article-color {
    background-color: fuchsia;
}

.footer-color{
    background-color: aquamarine;
}