body {
    text-align: center;
}

.container{
    background-color: beige;
    border-style: dashed;
    width: fit-content;
    margin: auto;
}

.button {
    background-color: blue;
    color: white;
}